{% assign portfolio = site.portfolio | sort: 'weight' %}
{% assign max = portfolio | size %}
{% assign current = page.weight %}
<div class="column-2 all text-left float-left">
{% assign previous = current | minus: 1 %}
{% if previous > 0 %}
  {% for page in portfolio %}
    {% if page.weight == previous %}
      {% assign previousPage = page %}
    {% endif %}
  {% endfor %}
{% else %}
  {% for page in portfolio %}
    {% if page.weight == max %}
      {% assign previousPage = page %}
    {% endif %}
  {% endfor %}
{% endif %}
  <a href="{{ previousPage.permalink }}" class="reversed arrow">
    <svg viewBox="0 0 512 512" class="icon flipped-h">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use>
    </svg>
    <span class="h4 mobile-hide">{{ previousPage.shortname }}</span>
    <span class="h4 mobile-show">Prev</span>
  </a>
</div>
<div class="column-2 all text-center float-left">
{% if site.resume %}
  <a href="{{ site.resume }}" target="_blank" class="h4 reversed">Résumé</a>
{% endif %}
  <ul class="h4 inline inline-list tablet-hide desktop-hide">
{% assign pages = site.pages | sort: 'weight' %}
{% for page in pages %}
  {% if page.title and page.weight != 0 %}
    <li><a href="{{ page.url | prepend: site.baseurl }}" class="reversed">{{ page.title }}</a></li>
  {% endif %}
{% endfor %}
  </ul>
</div>
<div class="column-2 all text-right float-right">
{% assign next = current | plus: 1 %}
{% if next <= max %}
  {% for page in portfolio %}
    {% if page.weight == next %}
      {% assign nextPage = page %}
    {% endif %}
  {% endfor %}
{% else %}
  {% for page in portfolio %}
    {% if page.weight == 1 %}
      {% assign nextPage = page %}
    {% endif %}
  {% endfor %}
{% endif %}
  <a href="{{ nextPage.permalink }}" class="reversed arrow">
    <span class="h4 mobile-hide">{{ nextPage.shortname }}</span>
    <span class="h4 mobile-show">Next</span>
    <svg viewBox="0 0 512 512" class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use>
    </svg>
  </a>
</div>
