<div class="column-3 text-left">
  <h3 class="inline"><a href="/" class="reversed">{{ site.title }}</a></h3>
  <ul class="h3 inline inline-list">
  {% if site.instagram_username %}
    <li>
      <a href="https://www.instagram.com/{{ site.instagram_username }}/">
        <svg viewBox="0 0 512 512" class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
        </svg>
      </a>
    </li>
  {% endif %}
  {% if site.twitter_username %}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <svg viewBox="0 0 512 512" class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
        </svg>
      </a>
    </li>
  {% endif %}
  </ul>
</div>
<div class="column-3 text-right mobile-hide">
  <nav class="h3">
    <ul class="inline-list separator">
{% assign pages = site.pages | sort: 'weight' %}
{% for page in pages %}
  {% if page.weight > 0 %}
    {% if page.title %}
      <li><a href="{{ page.url | prepend: site.baseurl }}" class="reversed">{{ page.title }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
    </ul>
  </nav>
</div>
