<div class="column-2"><h1><a href="{{ site.url }}">{{ site.title }}</a></h1></div>
<div class="column-2 text-center"><img src="{{ site.logo }}" class="inline baseline"></div>
<div class="column-2 text-right">
  <nav>
    <ul>
      <li class="inline"><h1><a href="{{ site.url }}">Portfolio</a></h1></li>
  {% for page in site.pages %}
    {% if page.title %}
      <li class="inline"><h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1></li>
    {% endif %}
  {% endfor %}
    {% if site.resume %}
      <li class="inline"><h1>&nbsp;&nbsp;|&nbsp;&nbsp;</h1></li>
      <li class="inline"><h1><a href="{{ site.resume }}">Résumé</a></h1></li>
    {% endif %}
    </ul>
  </nav>
</div>