@mixin flex-root {
  box-sizing: border-box;
  display: flex;
}

@mixin row {
  @include flex-root;

  overflow: hidden;
  width: 100%;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.row {
  @include row;
}

@mixin column {
  @include flex-root;

  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &.reverse {
    flex-direction: column-reverse;
  }
}

.column {
  @include column;
}

.row,
.column {
  &.center {
    justify-content: center;
  }
}

.expandable {
  flex-grow: 1;
}

.flexible {
  flex-grow: 1;
  flex-shrink: 1;
}
