body {
  margin: 0 .5em;
}
// Bootstrap clearfix
header,
main,
footer,
.row,
.clearfix {
  *zoom: 1;
  &::before,
  &::after {
    display: table;
    content: "";
    line-height: 0;
  }
  &::after {
    clear: both;
  }
}
header,
main,
footer {
  display: block;
  margin: 2em .1em .5em;
  position: relative;
}
main {
  margin: 1.5em 0 0;
}
footer {
  margin: 1.5em 0 3em;
}
.container {
  margin: auto;
  max-width: 1200px;
}
.row:last-of-type {
  margin: 0 0 1.3333333em;
}
.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6 {
  box-sizing: border-box;
  float: left;
  margin: .3333333em .5em;
  position: relative;
  width: calc(100% - 1em);
}
.all.column-1 {
  width: calc(16.6666667% - 1em);
}
.all.column-2 {
  width: calc(33.3333333% - 1em);
}
.all.column-3 {
  width: calc(50% - 1em);
}
.all.column-4 {
  width: calc(66.6666667% - 1em);
}
.all.column-5 {
  width: calc(83.3333333% - 1em;)
}
.all.column-6 {
  width: calc(100% - 1em);
}
img {
  max-width: 100%;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
@media all and (max-width: $on-mobile) {
  .mobile-hide {
    display: none;
  }
}
@include media-query($on-tablet) {
  body {
    margin: .5em 1em;
  }
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6 {
    margin: .5em .6666667em;
  }
  .column-1,
  .column-2 {
    width: calc(33.3333333% - 1.3333333em);
  }
  .column-3 {
    width: calc(50% - 1.3333333em);
  }
  .column-4,
  .column-5,
  .column-6 {
    width: calc(100% - 1.3333333em);
  }

  .all.column-1 {
    width: calc(16.6666667% - 1.3333333em);
  }
  .all.column-2 {
    width: calc(33.3333333% - 1.3333333em);
  }
  .all.column-3 {
    width: calc(50% - 1.3333333em);
  }
  .all.column-4 {
    width: calc(66.6666667% - 1.3333333em);
  }
  .all.column-5 {
    width: calc(83.3333333% - 1.3333333em;)
  }
  .all.column-6 {
    width: calc(100% - 1.3333333em);
  }
}
@media all and (min-width: $on-tablet) and (max-width: $on-desktop) {
  .tablet-hide {
    display: none;
  }
}
@include media-query($on-desktop) {
  body {
    margin: 1em 8em;
  }
  .column-1 {
    width: calc(16.6666667% - 1.3333333em);
  }
  .column-2 {
    width: calc(33.3333333% - 1.3333333em);
  }
  .column-4 {
    width: calc(66.6666667% - 1.3333333em);
  }
  .column-5 {
    width: calc(83.3333333% - 1.3333333em;)
  }
  .column-6 {
    width: calc(100% - 1.3333333em);
  }
  .desktop-hide {
    display: none;
  }
}
