header > .column-3 > ul.inline-list {
  float: right;
}
.image-list > li {
  margin: .6666667em 0;
  &:first-child {
    margin-top: 0;
  }
}
.preview {
  background: $med-grey;
  letter-spacing: .05em;
  overflow: hidden;
  transition: background ease-out 750ms;
  word-spacing: -.1em;
  & > a > img {
      display: block;
      -webkit-filter: blur(2px) brightness(0.9);
      filter: blur(2px) brightness(0.9);
      margin: auto;
      min-width: 100%;
      mix-blend-mode: multiply;
      transition: filter cubic-bezier(0.35, 0, 1, 1) 550ms,
          -webkit-filter cubic-bezier(0.35, 0, 1, 1) 550ms;
  }
}
.preview:hover {
  background: $light-grey;
  & > a > img {
    -webkit-filter: blur(0) brightness(1);
    filter: blur(0) brightness(1);
  }
}
.overlay {
  background: rgba(255,255,255,1);
  border-radius: .2em;
  box-sizing: border-box;
  color: #333;
  font-family: $base-sans;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  padding: .25em 1em;
  position: absolute;
  left: 50%;
  mix-blend-mode: screen;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
svg {
  color: inherit;
  fill: currentColor;
}
.icon {
  height: 1.3333333em;
  vertical-align: text-bottom;
  width: 1.3333333em;
}
.flipped-h {
  transform: scaleX(-1);
}
.flipped-v {
  transform: scaleY(-1);
}
.arrow:hover > .icon {
  color: #fff;
  background: #099;
  border-radius: 100%;
}
@include media-query($on-tablet) {
  header > .column-3 > ul.inline-list {
    float: none;
  }
  .image-list > li {
    margin: 1.3333333em 0;
    &:first-child {
      margin-top: 0;
    }
  }
}
@include media-query($on-desktop) {

}
