header > .column-3 > ul.inline-list {
  float: right;
}
header > .column-3 > ul.h3 .icon {
  margin-bottom: -.1em;
}
main > .row:last-child {
  margin-top: .75em;
}
.image-list > li {
  margin: .6666667em 0;
  &:first-child {
    margin-top: 0;
  }
}
.preview {
  display: inline-block;
  letter-spacing: .05em;
  overflow: hidden;
  transform: translate3d(0,0,0);
  word-spacing: -.1em;
  & > a > img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.preview > a::after {
  background-image:
    linear-gradient(
      to right, 
      rgba(255,255,255,0) 66.6666667%,
      rgba(67, 117, 76, .16666667)
    );
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity ease-out 750ms;
  width: 100%;
}
.preview > a:hover::after {
  opacity: 1;
}
.overlay {
  background: #333;
  border-radius: .2em;
  box-sizing: border-box;
  color: #fff;
  font-family: $base-sans;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  padding: .25em 1em;
  position: absolute;
  right: $grid-hbase / 6;
  mix-blend-mode: multiply;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  white-space: nowrap;
}
svg {
  color: inherit;
  fill: currentColor;
}
.icon {
  height: 1.3333333em;
  vertical-align: text-bottom;
  width: 1.3333333em;
}
.flipped-h {
  transform: scaleX(-1);
}
.flipped-v {
  transform: scaleY(-1);
}
.arrow:hover > .icon {
  color: #fff;
  background: #099;
  border-radius: 100%;
}
.linkedin {
  margin-left: -4px;
}
@include media-query($on-tablet) {
  header > .column-3 > ul.inline-list {
    float: none;
  }
  .image-list > li {
    margin: 1.3333333em 0;
    &:first-child {
      margin-top: 0;
    }
  }
}
@include media-query($on-desktop) {

}
