/* Block Elements */
body {
  background: $white;
  color: $black;
  font-family: $base-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $base-sans;
  font-weight: 400;
  margin: 0;
  letter-spacing: .075em;
}
h1 {
  font-size: 1.35em;
  letter-spacing: .15em;
  text-transform: uppercase;
}
h2, .h2 {
  font-size: 1.1em;
}
h3, .h3 {
  font-size: 1.1em;
  text-transform: uppercase;
}
h4, .h4 {
  font-size: .926em;
  letter-spacing: .2em;
  line-height: 1.8;
  text-transform: uppercase;
}
.space {
  letter-spacing: .1em;
}
p,
ul {
  line-height: $base-line-height;
  margin: 0 0 1em;
}
h1 + p {
  margin-top: 1em;
}
ul {
  list-style: none;
  padding: 0;
}
hr {
  border: none;
  border-bottom: .125em solid $brand-primary;
  margin: 0;
}
.sans {
  font-family: $base-sans;
}
.strong {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.inline,
.inline-list {
  margin: 0 .15em 0 0;
}
.inline,
.inline-list > li {
  display: inline-block;
}
.separator > li:nth-child(n+2)::before {
  content: "|";
  margin: 0 .4em 0 .2em;
}

/* Inline Elements */
a,
a:link {
  color: $brand-secondary;
  text-decoration: none;
}
a.reversed,
a.reversed:link,
a.reversed:visited {
  color: $black;
}
a.inversed,
a.inversed:link {
  color: #fff;
}
a:focus,
a:hover, {
  color: $black;
  outline: none;
}
a:active,
a:visited,
a.reversed:focus,
a.reversed:hover,
a.inversed:focus,
a.inversed:hover {
  color: $brand-secondary;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
@include media-query($on-tablet) {
  hr {
    margin: 0 -.6666667em;
  }
}
@include media-query($on-desktop) {
  hr {
    margin: 0 -2em;
  }
}
