---
layout: portfolio
---
<div class="row">
  <div class="column-3">
  {% for image in page.main %}
    <img src="/img/displays/{{ image }}">
  {% endfor %}
  </div>
{% assign length = page.process | size %}
{% if length > 0 %}
  <div class="column-3">
    <ul class="image-list">
    {% for image in page.process %}
      <li><img src="/img/process/{{ image }}"></li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
</div>
<div class="row">
  <div class="column-6">
    <h1 class="strong">{{ page.title }}</h1>
  </div>
  <div class="column-3">
    {{ content }}
  </div>
  <div class="column-1 tablet-hide mobile-hide"></div>
  <div class="column-2">
    <p>{{ page.client }}<br>{{ page.desc }}</p>
  </div>
</div>
