---
layout: portfolio
---
<div class="project with-sidebar" style="--local-highlight:{{ page.colorA }}">
  <div class="sidebar">
    <div class="title-callout">
      <p class="tc--title">{{ page.title }}</p>
      <p class="tc--desc">{{ page.desc }}</p>
    </div>
    <div class="content">{{ content }}</div>
  </div>
  <div class="project--gallery">
    {%- for image in page.main -%}
      {%- if image.first -%}
        {%- comment -%} this is an array of images {%- endcomment -%}
        <div class="row center">
          {%- for subImage in image -%}
            <img src="/img/displays/{{ subImage }}" class="project--image">
          {%- endfor -%}
        </div>
      {%- else -%}
        <img src="/img/displays/{{ image }}" class="project--image">
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
